<div class="table-responsive">
      <table class="table"> 
          <thead>
            <tr>
              <th scope="col">Image News</th>
              <th scope="col">Name News</th>
              <th scope="col">Date Of News</th>
              <th scope="col">Description News</th>
              <th scope="col">Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr class="table-warning" *ngFor="let new of news">
              <td><img [src]="new.imgNews" width="50px"></td>
              <td>{{new.nameNews}}</td>
              <td>{{new.dateNews | date}}</td>
              <td>{{new.descriptionNews}}</td>
              <td> 
                <div>
                  Edit : 
                  <button  type="button" class="btnTeachers btn-success" style="margin-left: 49px;" (click)="goToDisplayEdit(new._id)"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div>
                  Delete :
                  <button  type="button" class="btnTeachers btn-danger" style="margin-left: 28px; margin-top: 3%" (click)="deleteNews(new._id)" ><i class="fa fa-trash"></i></button>
                </div>
                  
              </td>
            </tr>
           
          </tbody>
        </table>
  </div>
