<section class="bg-gray">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img
          class="img-fluid w-100"
          src="assets/images/banner/banner-feature.png"
          alt="banner-feature"
        />
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          <div
            class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left"
          >
            <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Scholorship News</h3>
            <p>
              At EduCentre, we believe in providing opportunities for all students to excel. Our Scholarship News section brings you the latest updates on available scholarships. These financial aids empower deserving students to pursue their education and achieve their goals. 
            </p>
          </div>
          <div
            class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left"
          >
            <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Our Notice Board</h3>
            <p>
              Stay connected and informed with EduCentre's Notice Board. This centralized platform keeps students up-to-date with important announcements, exam schedules, school events, and meeting notices.
            </p>
          </div>
          <div
            class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left"
          >
            <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Our Achievements</h3>
            <p>
              At EduCentre, we take immense pride in the achievements of our students. From academic excellence to outstanding performances in sports and extracurricular activities, our students consistently shine.
            </p>
          </div>
          <div
            class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left"
          >
            <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Admission Now</h3>
            <p>
              EduCentre is currently accepting admissions for the upcoming academic year. Secure your spot at our esteemed institution by applying now. Experience a quality education and a nurturing environment at EduCentre.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
