<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="d-flex align-items-center section-title justify-content-between"
        >
          <h2 class="mb-0 text-nowrap mr-3">Our Course</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a
              href="courses.html"
              class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block"
              >see all</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 mb-5" *ngFor="let course of courses">
       <app-single-course [courseDetails]="course"></app-single-course>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a
          href="courses.html"
          class="btn btn-sm btn-primary-outline d-sm-none d-inline-block"
          >sell all</a
        >
      </div>
    </div>
  </div>
</section>
