<app-banner [descriptionBanner]="title" [descriptionText]="text"></app-banner>
<section class="section-sm">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" *ngFor="let student of pageOfItems">
       <app-single-student [studentDetails]="student"></app-single-student>
      </div>
     
</div>
</div>
<div class="card-footer pb-0 pt-3 " style="padding-left: 35%;">
    <jw-pagination style="background-color: rgb(240, 188, 93);"
   [items]="studentsTeacher" [pageSize]="2" (changePage)="onChangePage($event)" >
  </jw-pagination>
   </div>
</section>